header {
  grid-area: header;
  border-bottom: 1px solid $line-color;
  img {
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
  i {
    color: $focus-primary;
    font-size: 3em;
  }
  @include media-query('tablet') {
    border-bottom: none;
    border-right: 1px solid $line-color;
    // position: fixed;
  }
}