<div class="project" ng-repeat="project in projects">
  <h1>{{ project.title }}</h1>
  <h3>{{ project.date }}</h3>
  <a target="_blank" href="{{ project.link }}">Website Link</a>
  <!-- use an ng-repeat on descriptions array for each project -->
  <!-- <p ng-repeat="para in project.description">{{ para }}</p> -->
  <p>{{ project.description[0] }}</p>
  <p>{{ project.description[1] }}</p>
  <p>{{ project.description[2] }}</p>
  <p>{{ project.technologies }}</p>
  <a href="#">Video Walkthrough</a>
  <div class="site-gallery">
    <img ng-repeat="image in project.images" src="{{ image }}" alt=""/>
  </div>
</div>