/* site wide styling */
 ::selection {
  background: rgba(186, 104, 200, 0.2);  
 } 
 ::-moz-selection {
  background: rgba(186, 104, 200, 0.2);  
 }  
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.075em;
  font-weight: 300;
  width: 100%;
  height: 100vh;
  color: #424242;
}
h1 {
  font-family: 'Spectral SC', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.1em;
}
h3 {
  font-family: 'Spectral SC', sans-serif;  
  font-weight: 200;
  margin-bottom: 0.35em;
}
p {
  line-height: 1.4em;
  margin-bottom: 2.5%;
}
a {
  text-decoration: none;
  color: #BA68C8;
  font-weight: 600;
}
p a {
  color: red;
}
.socicons {
  display: flex;
  width: 75%;
  justify-content: space-around;
}
i {
  color: #BA68C8;
  font-size: 35px;
}
.headshot {
  width: 60%;
  height: auto;
  border-radius: 50%;
}
/* make flex-direction column when mobile!!! */
.wrapper {
  display: flex;
  height: 100%;
}
header {
  width: 35%;
  height: 100%;
  padding: 5% 2.5% 0 2.5%;
  margin: 0 2.5% 0 2.5%;
  border-right: 1px solid #EEE;
}










/*  */
main img {
  width: 400px;
  height: auto;
  box-shadow: 0 0 2.5px #757575;
}
.nav ul {
  display: flex;
}